/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: sans-serif;
  font-size: 16px;
}

/* Barra de Navegación */
.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
  position: fixed;
}

.navbar-collapse .nav-bar {
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  /* margin-left: 130px */
}

nav .name a {
  font-family: 'Dancing Script', cursive;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Estilos para el encabezado */
header {
  background-color: #333;
  padding: 10px 0;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  transition: color 0.3s ease-in-out;
}

.menu-item a::before {
  content: "";
  /* position: absolute; */
  top: 100%;
  width: 100%;
  height: 3px;
  /* background-color: #ff0000 url("/imagenes/pizza-bg.jpg") no-repeat center center; */
  transform: scaleX(0);
  transition: transform 0.1s ease-in-out;
}

.menu-item a:hover {
  border-radius: 25%;
  color: #ffffff;
  font-weight: bold;
  letter-spacing:+1px;
  text-shadow: 0 0 5px #181818, 0 0 10px #ffffff, 0 0 15px #fff, 0 0 20px #ffffffee, 0 0 25px #ebe3e3e1;
  padding: 8px;
}

.menu-item a::before {
  transform: scaleX(1);
}

/* ESTE ES EL BLOQUE DE CÓIGO QUE TIENES QUE COPIAR PARA TUS ESTILOS DE TU RESPECTIVA SECCION */
.container h2 {
  display: flex;
  place-items: center;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
/* TERMINA AQUIÍ WEON */


/* #Hamburguesas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 153, 0);
} */

#Hamburguesas .row {
  /* background-color: blue; */
  margin: 5px;
  margin-top: 8px;
  /* border: solid black; */
}

.product-container {
  /* width: 90%;
  max-width: 300px; */
  text-align: center;
  background-color: #f8f8f8;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* @media screen and (min-width: 440px) {
  .product-container {
    width: calc(77.9999% - 2rem);
  }
} */

.product-container:hover {
  transform: translateY(-10px);
}

.product-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* border-radius:50%; */
  margin-bottom: 30px;
}

.product-container h3 {
  margin-top: 5px;
  font-size: 25px;
}

.product-container p {
  margin-top: 10px;
  color: #777;
}

/* Separación entre los productos */
.product-container:nth-child(3n+1) {
  margin-right: 0;
  margin-left: 0;
}

.product-container:nth-child(3n+2) {
  margin-right: 1rem;
  margin-left: 1rem;
}

/* Estilos responsivos */
@media (max-width: 700px) {
  .product-container h3 {
    font-size: 20px;
  }

  .product-container p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .product-container {
    padding: 0 50px;
  }
}

@media (max-width: 992px) {
  .product-container {
    padding: 0 50px;
  }
}

/* icono y contador circle */

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #131212;
}

.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container-icon {
  position: absolute;
  cursor: default;
  user-select: none;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  left: 0;

  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}


/* Main */

.container-items h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  margin: 0;
}

/* .item{
  border-radius: 10px;
} */

/* .item:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
} */

/* .item img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all .5s;
} */

/* .item figure{
  overflow: hidden;
} */

/* .item:hover img{
  transform: scale(1.2);
} */

/* Letras de la pizza */
.info-product {
  padding: 5px 10px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0;
}

.info-product button {
  border: none;
  background: none;
  background-color: #ffffff;
  color: #181717;
  padding: 15px 10px;
  width: 300px;
  cursor: pointer;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

/* c  */
.Pizza {
  width: 30rem;
  margin: 20px;
  border: 1px solid rgb(7, 4, 12);
  border-radius: 10px;
  display: grid;
  grid-template: max-content / 2fr 3fr;
  gap: 0.75rem;
}

.Hamburguesa > img {
  height: auto;
} 

.Hamburguesa > div > article {
  margin: 20px;
  padding: 10px;
}

.Hamburguesa p {
  margin: 0;
}

.Hamburguesa > div > div > div:last-child {
  margin-top: 1rem;
}

.Hamburguesa > div > div > span:first-child {
  font-size: 1.25rem;
  font-weight: 500;
}

.Hamburguesa > div > div > p {
  font-size: 1rem;
}

/* span */

.Hamburguesa span {
  font-size: 1.1em;
  font-weight: 600;
}

.Hamburguesa [data-Price] {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
}

.Hamburguesa [data-Price]::after {
  content: attr(data-Price);
  color: green;
  font-weight: 600;
}

.Hamburguesa button {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5em 0;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 25px;
}

#Pedidos {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 15rem;
  min-height: 10rem;
  background-color: #ffffff88;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: inset black -1rem -1rem 1rem -1.25rem, #00000044 0 0 0.5rem;
  padding-bottom: 2rem;
  transition: 1s 0.5s ease-out;
  clip-path: circle(0% at 0% 0%);
}

.container-cart-icon:hover + #Pedidos {
  transition: 0.5s ease-out;
  clip-path: circle(200% at 0% 0%);
}

#Pedidos::before {
  content: "Sin productos";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 1.25em;
}

#Pedidos.Fill::before {
  display: none;
}

#Pedidos > span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.25em;
  text-align: center;
  border-top: 2px solid skyblue;
  font-weight: 600;
}

#Pedidos > span::after {
  content: attr(data-Price);
  color: green;
  font-style: italic;
}

#Pedidos > div {
  padding: 0.5rem;
}

#Pedidos article {
  display: grid;
  grid-template: 1fr / max-content 1fr;
  gap: 0.5rem;
  text-align: right;
  width: 100%;
  font-weight: 600;
}

#Pedidos article > span {
  font-weight: 600;
}

#Pedidos article > span:last-child::before {
  content: "$";
  color: green;
}