/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: sans-serif;
  font-size: 16px;
}

header h1 {
  color: white;
}

/* Barra de Navegación */
.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
  position: fixed;
}

.navbar-collapse .nav-bar {
  align-items: center;
  /* justify-content: space-between; */
}

.nav-link {
  text-decoration: none;
  /* margin-left: 130px */
}

nav .name a {
  font-family: "Dancing Script", cursive;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

nav .nav-item i {
  color: black;
  font-size: 2rem;
}

/* Estilos para el menú de navegación */
header {
  background-color: #333;
  padding: 10px 0;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  transition: color 0.3s ease-in-out;
}

.menu-item a::before {
  content: "";
  /* position: absolute; */
  top: 100%;
  width: 100%;
  height: 3px;
  /* background-color: #ff0000 url("/imagenes/pizza-bg.jpg") no-repeat center center; */
  transform: scaleX(0);
  transition: transform 0.1s ease-in-out;
}

.menu-item a:hover {
  border-radius: 25%;
  color: #ffffff;
  font-weight: bold;
  letter-spacing:+1px;
  text-shadow: 0 0 5px #181818, 0 0 10px #ffffff, 0 0 15px #fff, 0 0 20px #ffffffee, 0 0 25px #ebe3e3e1;
  padding: 8px;
}

.menu-item a::before {
  transform: scaleX(1);
}

/* Estilos para el encabezado Pizzas */

.container h2 {
  display: flex;
  place-items: center;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

/* Estilos menu de pizzas */

.pizzas-c {
  background-color: #f3fcf0;
  margin: 0px;
}

.pizzas-c .card {
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

/* Imágenes */

.container-fluid .pizzas-c .car {
  height: 200px;
  width: 300px;
}

/* Estilos para el pie de página */
footer {
  background-color: #f8f8f8;
  padding: 5px 0;
  text-align: center;
}

/* icono y contador circle */

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #131212;
}

.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container-icon {
  position: absolute;
  cursor: default;
  user-select: none;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  left: 0;

  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

/* Main */

.container-items h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  margin: 0;
}

/* .item{
  border-radius: 10px;
} */

/* .item:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
} */

/* .item img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all .5s;
} */

/* .item figure{
  overflow: hidden;
} */

/* .item:hover img{
  transform: scale(1.2);
} */

/* Letras de la pizza */
.info-product {
  padding: 5px 10px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0;
}

.info-product button {
  border: none;
  background: none;
  background-color: #ffffff;
  color: #181717;
  padding: 15px 10px;
  width: 300px;
  cursor: pointer;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

/* c  */
.Pizza {
  width: 30rem;
  margin: 20px;
  /* border: 1px solid rgb(7, 4, 12); */
  background-color: #f3f2f2;
  border-radius: 10px;
  display: grid;
  grid-template: max-content / 2fr 3fr;
  gap: 0.75rem;
}

.Pizza > img {
  height: auto;
  border-radius: 5%;
} 

/* .Pizza > div > article {
  margin: 20px;
  padding: 10px;
} */

.Pizza p {
  margin: 0;
}

.Pizza > div > div > div:last-child {
  margin-top: 1rem;
}

.Pizza > div > div > span:first-child {
  font-size: 1.25rem;
  font-weight: 500;
}

.Pizza > div > div > p {
  font-size: 1rem;
}

/* span */

.Pizza span {
  font-size: 1.1em;
  font-weight: 600;
}

.Pizza [data-Price] {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
}

.Pizza [data-Price]::after {
  content: attr(data-Price);
  color: green;
  font-weight: 600;
}

.Pizza button {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5em 0;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 25px;
}

#Pedidos {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 20rem;
  min-height: 10rem;
  background-color: #ffffff88;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: inset black -1rem -1rem 1rem -1.25rem, #00000044 0 0 0.5rem;
  padding-bottom: 2rem;
  transition: 1s 0.5s ease-out;
  clip-path: circle(0% at 0% 0%);
}

.container-cart-icon:hover + #Pedidos {
  transition: 0.5s ease-out;
  clip-path: circle(200% at 0% 0%);
}

#Pedidos::before {
  content: "Sin productos";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 1.25em;
}

#Pedidos.Fill::before {
  display: none;
}

#Pedidos > span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.25em;
  text-align: center;
  border-top: 2px solid skyblue;
  font-weight: 600;
}

#Pedidos > span::after {
  content: attr(data-Price);
  color: green;
  font-style: italic;
}

#Pedidos > div {
  padding: 0.5rem;
}

#Pedidos article {
  display: grid;
  grid-template: 1fr / max-content 1fr;
  gap: 0.5rem;
  text-align: right;
  width: 100%;
  height: max-content;
  font-weight: 600;
}

#Pedidos article > span {
  font-weight: 600;
}

#Pedidos article > span:last-child::before {
  content: "$";
  color: green;
}


/* Footer */
footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
}
footer p {
  margin: 0;
}

.footer-row {
  margin-top: auto;
  margin-bottom: 0;
}

/* Responsive */

@media (max-width: 425px) {
  .container .row #tam {
    font-size: 1rem;
    color: black;
  }
  .container .row span {
    font-size: 1rem;
    color: black;
  }
  .container .row p {
    font-size: 1rem;
    color: black;
  }
  .container .row button {
    font-size: 1rem;
    /* color: black; */
  }
}


