/* Fuentes hasta ahora */
/* font-family: 'Abril Fatface', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Titan One', cursive; */

/* Estilo General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/imagenes/pizza-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
    position: relative; 
    padding-bottom: 3em;
    min-height: 100vh;
}

/* Barra de Navegación */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
    position: fixed;
}

.navbar-collapse .nav-bar {
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    /* margin-left: 130px */
}

nav .name a {
    font-family: 'Dancing Script', cursive;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Encabezado */
header {
    /* background-color: #eca95b; */
    padding: 20px;
    height: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .menu p{
    color: red;
    font-family: 'Abril Fatface', cursive;
    font-size: 4rem;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    /* font: normal 48px/normal "Warnes", Helvetica, sans-serif; */
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff0055 , 0 0 70px #ff0080 , 0 0 80px #ff006a , 0 0 100px #ff0040 ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

header .menu p:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

/* Sección menú */
.menu {
    margin-bottom: 4rem;
}

.menu-item {
    margin: 0 10px;
    padding: 10px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

.menu-item:hover {
    border-bottom-color: #0b0b0b;
}

/* Secciones del menu */

.menu .row .column {
    margin: 10px;
    padding: 80px;
    border: 5px solid rgb(39, 39, 39);
    border-radius: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    /* Tamaño */

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .row .col a{
    text-decoration: none;
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Titan One', cursive;
    text-align: center;
}

.menu .row .col a:hover {
    text-decoration: none;
    text-align: center;
    font-family: 'Titan One', cursive;
    font-size: 2rem;
    letter-spacing:-2px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #0a0909, 0 0 15px #fff, 0 0 20px #ff0037ab, 0 0 25px #ff0040b4;
    -webkit-text-fill-color: #F4ECFF;
    -webkit-text-stroke-color:#411d20;
    -webkit-text-stroke-width:0.2px;
    -moz-text-fill-color: #F4ECFF;
    -moz-text-stroke-color:#C546F7;
    -moz-text-stroke-width:0.2px;
}

.menu .row .piha{
    background-image: url(/imagenes/bg-bg.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.menu .row .snack{
    background-image: url(/imagenes/frape-bg.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.menu .row .drink{
    background-image: url(/imagenes/coffee-bg.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
}


/* Footer */

footer {
    /* background-color: #333; */
    color: #333;
    bottom: 0;
    width: 100%;
    position: absolute;
}

footer .row div p {
    display: flex;
    justify-content: center;
    align-items:center;
}